# === Ignore tout par défaut ===
*

# === Réautorise la navigation dans les dossiers ===
!*/

# === Garde les fichiers essentiels ===
!pyproject.toml
!LICENSE*
!README.md
!readme.md
!run_*
!cas_test/
!test_*.py
!temp**
!examples/**
# === Ignore les dossiers de build / metadata ===
*.egg-info/
__pycache__/



*.txt
