# === Ignore tout par défaut ===
*

# === Réautorise la navigation dans les dossiers ===
!*/

# === Garde les fichiers essentiels ===
!pyproject.toml
!LICENSE*
!README*.md
!readme.md
!run_*
!cas_test/
!test_*.py
!temp**
!examples/**
!src/**
# === Ignore les dossiers de build / metadata ===
*.egg-info/
__pycache__/

# === Fichiers générés par OpenFOAM dans les exemples ===
/constant/
/system/
/0*/
/0.*/
/postProcessing/
/VTK/
/processor*/
*.vtk
*.log
*.e*
*.o*
*.png
*.jpg
*.gif
*.mp4
*.csv
*.json
*.pdf
*.typst
*.aux
*.out
*.toc
*.bbl
*.blg

# === Embedded git repositories ===
/test/vmtk-test-data/


# === Grands fichiers binaires dans les exemples (à déplacer vers Git LFS) ===
examples/tobias_tutorial/**/*.stl
examples/tobias_tutorial/**/*.unv
examples/tobias_tutorial/**/*.hdf
examples/tobias_tutorial/**/*.step
examples/tobias_tutorial/**/*.stp
examples/tobias_tutorial/**/*.iges
examples/tobias_tutorial/**/*.igs
examples/tobias_tutorial/**/*.eMesh
examples/tobias_tutorial/**/*.obj
examples/tobias_tutorial/**/*.zip
